@charset "utf-8";
/* CSS Document */

body
{
	background-image: url(background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.container
{
	display: flex;
	margin: 0 auto;
	padding: 100px;
	width: 1000px;
}

.partContain
{
	flex: 1;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	position: relative;
	background-color: #fff;
	border-radius: 2px;
	max-width: 70%;
	margin-right: auto;
	margin-left: 120px;
	justify-content: center;
	clear: both;
}

.partContain h2
{
	background-image: url(banner.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	margin-top: 0;
	height: 250px;
}

/************************************** Nav Bar **************************************/
nav ul
{
	text-align: center;
	margin-left: -35px;
}

nav ul li
{
	display: inline-block;
}

nav ul li a
{
	text-decoration: none;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 0;
}

ul li img
{
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	text-align: center;
}

.home
{
	background-image: url(home.png);
}

.home:hover
{
	background-image: url(homeHover.png);
}

.linkedin
{
	background-image: url(linkedin.png);
}

.linkedin:hover
{
	background-image: url(linkedinHover.png);
}

.project
{
	background-image: url(project.png);
}

.project:hover
{
	background-image: url(projectHover.png);
}

.resume
{
	background-image: url(resume.png);
}

.resume:hover
{
	background-image: url(resumeHover.png);
}

.github
{
	background-image: url(github.png);
}

.github:hover
{
	background-image: url(githubHover.png);
}

/*********************************** Introduction *******************************************/
.about
{
	font-size: 20px;
	text-align: center;
	margin-top: 0;
	padding-top: 0;
}

.intro
{
	text-align: center;
	font-size: 16px;
}

.title
{
	padding-left: 15px;
	font-size: 15px;
	font-variant: small-caps;
	font-weight: bold;
}

.bio
{
	padding-left: 15px;
}

/***************************************Fit Screen*******************************************/

@media screen and (max-width: 999px)
{
	.container{width: 100%;
			   margin: 0px auto;}
	.partContain{width: 100%;}
	body{width: 100%;}
}

@media screen and (max-width: 320px)
{
	.container{width: 320px;}
}

